# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.*
src/*.egg-info/

# makepkg / PKGBUILD
pkg/
src_pkg/
apt-pac-*/
*.log-pkg
*.sig

# i18n compiled files
*.mo

