# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts to have LF line endings.
*.sh text eol=lf

# Python files
*.py text indentation=space indent_size=4

# Translation files
*.po text eol=lf
*.pot text eol=lf

