name: Arch Linux CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Run Tests (Arch Linux)
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
    - name: Initialize Arch System
      run: |
        pacman-key --init
        pacman-key --populate archlinux
        pacman -Syu --noconfirm

    - name: Install Build Dependencies
      run: |
        pacman -S --noconfirm --needed git base-devel python python-pip pyalpm python-rich

    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Install Development Environment
      run: |
        pip install .[dev]

    - name: Lint Code
      run: |
        # Skip fail for now
        pre-commit run --all-files || true

    - name: Run Tests
      run: |
        python tests/run_tests.py
